@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@400;500&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #161B29;
}

html, body {
    height: 100vh; /* allows for sizing of sections relative to viewport */
    width: 100vw;
    position: relative; /* allows for positioning of sections relative to viewport */
}

h1, h2, h3, h4 {
    font-family: 'Mitr', sans-serif;
    font-weight: 500;
}

img {
    background-color: #BD9792;
}
 
h1 {
    font-size: 4vw;
}

h2 {
    font-size: 1.5vw;
}

h3 {
    font-size: 1.2vw;
}

p {
    font-size: 1vw;
}

figcaption {
    font-size: 0.8vw;
}

button, #submit {
    padding: 1vw;
    margin-top: 1vw;
    font-size: 1vw;
    border-radius: 1vw;
}

/* Header, Nav Elements and Logo */

.bar {
    width: 100vw;
    height:fit-content;
    background-color: #493A48;
    color: #BD9792;
}

#header{
    position: fixed;
    z-index: 2;
}

#header a {
    color:inherit;
    text-decoration: none;
}

#logo {
    float: left;
    font-size: 2vw;
    margin-left: 1.5rem;
}

#main-menu {
    letter-spacing: 0.1vw;
    color: inherit;
}

#nav-elements {
    max-width: fit-content;
    line-height: 3vw;
    float: right;
    position: relative;
}

#main-menu li {
    list-style-type: none;
    margin-right: 3vw;
    font-family: Mitr, sans-serif;
    font-weight: 500;
    font-size: 1vw;
    float: left;
}
#header a:hover, #main-menu li:hover, .social-networks a:hover {
    color:cornsilk;
}

/* colour for call to action elements */

.call-to-action {
    color: #BD9792;
    background-color: #6D5058;
    width:fit-content;
    border-radius: 2vw;
    padding: 0 1vw;
}

.call-to-action:hover {
    color: #6D5058;
    background-color: #BD9792;
}

/* Generic Section attributes */

.section-wrapper {
    z-index: 0;
    width: 100vw;
    height: 80vh;
    position:relative;
    padding-top: 3vw;
}

.section-content-outer-wrapper {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: space-between;
}

.section-content-left {
    width: 50%;
    display:flexbox;
    justify-content: center;
    padding:2% 10%;
}

.items-group {
    padding: 1vw;
}

.section-content-right {
    height:100%;
    width: 50%;
    display: flex;
    position: relative;
}

.section-content-right-figure {
    height: 100%;
    width: 100%;
    position: absolute;
}

.section-content-right-img {
    width: 100%;
    height:100%;
    object-fit: cover;
    border-radius: 40% 0 0 40%;
}

.section-wrapper > h1 {
    text-align: center;
    margin-top: 1vh;
    letter-spacing: 0.2vw;
}

.text-right {
    text-align: right;
}

/* Enjoy Fire Section */

#enjoy-fire-content-wrapper {
    margin-top: 5%;
}

#enjoy-fire-items-left {
    width: 29%;
    padding-left: 10%;
    padding-top: 5vw;
}

#enjoy-fire-items-right {
    width: 29%;
    padding-right: 7%;
    padding-left: 3.5%;
    padding-top: 5vw;
}

.enjoy-fire-items {
    padding-top: 5vw;
    width:fit-content;
}
.enjoy-fire-items a {
    text-decoration: none;
    color: inherit;
}

.enjoy-fire-items p {
    font-family:Mitr, sans-serif;
    font-weight: 500;
    font-size: 1vw;
}

#enjoy-fire-items-left > div, #enjoy-fire-items-right > div {
    padding-top: 50px;
}

#enjoy-fire-items-left {
    float: left;
}

#enjoy-fire-items-right {
    float: right;
}

#hero-image-wrapper {
    width: 40vw;
    height: 30vw;
    position:relative;
    overflow: hidden;
    border-radius: 20px;
}

#hero-img {
    width: 60vw;
    object-fit: fill;
    object-position: -8vw -10vw;
}

/* Light a Fire Section */

#lightfire {
    height: fit-content;
}

#lightfire-content-wrapper {
    display: inline-flexbox;
}

.lightfire-fig {
    width: 95%;
}

.lightfire-img {
    object-fit: fit;
    width:100%;
    border-radius: 0;
}

/* Lightfire-aside */

#lightfire-aside {
    width: 16.66%;
    height: 600px;
    margin-left: 2vw;
    top: 20%;
    position: sticky;
    float:left;
    overflow: hidden;
}

#lightfire-aside h2 {
    text-align: left;
}

#lightfire-aside-inner {
    width: 100%;
}

#lightfire-aside-inner li {
    list-style: none;
    font-family:Mitr, sans-serif;
    font-weight: 400;
    font-size: 0.9vw;
    padding: 0.1vw 0.5vw 0 0;
}

#lightfire-aside-inner a {
    text-decoration: none;
}

#aside-fire-img-fig  {
    margin-top: 20px;
}

/* lightfire-article */

#lightfire-article {
    width: 80%;
    height: fit-content;
    margin-left: 3vw;
    margin-right: 2vw;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#lightfire-article > h2 {
    text-align: center;
    margin-top: 4em;
}

 #lightfire-article  p {
    padding:1em 0;
}

#lightfire-article section {
    padding: 1em 1em;
    border-bottom: #161B29 solid 2px;
}

/* 
Lightfire aside Contents link position offset adjusting for header.
Solution from Hrvoje Miljak/ Stack Overflow/ see Readme.md
*/

h3.header-offset {
    position: relative;
}

h3.header-offset span {
    position:absolute;
    top: -6vh;
}

/* Tools for fire Lighing Section */

.tools-wrapper-outer {
    position:relative;
    width: 100%;
    height: 30%;
    display: inline-flex;
    justify-content: center;
    margin-top: 2%;
}

.tools-wrapper-inner {
    position: relative;
    width: 25%;
    margin: 0 2%;
    justify-content: center;
    text-align: center;
}

figure.tools {
    width: 100%;
    text-align: center;
}

img.tools {
    width: 80%;
    object-fit: contain;
    border-radius: 20%;
    border:#161B29 solid 2px;
}

h2.tools {
    margin-top: 10px;
}

p.tools {
    margin-top:10px;
}

/* Responisble Fire Lighting Section */

#responsible-img {
    object-position: 0 75%;
}

#memories {
    z-index: 1;
    margin-top: 10%;
    margin-left: 60%;
}

#memories h2 {
    color:#BD9792;
    padding: 1%;
    font-size: 1.5vw;
}

/* Stay In Touch Section */

#stay-in-touch {
    height: 88%;
}

#stayintouch-content-outer-wrapper {
    height: 80%;
}

/* Form */

#form  legend {
    font-family:Mitr, sans-serif;
    font-weight: 500;
    margin-top: 10px;
}

#form input {
    border:#161B29 solid 1px;
}

.input-background-colour:hover {
    background-color: #BD9792;
}

/* Footer */

#footer {
    position: relative;
    bottom: 0px;
}

#footer-response {
    position: absolute;
    bottom: 0px;
}

.social-networks {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.social-networks li {
    display: inline;
    padding: .5vw 8vw;
}

.social-networks a {
    color:inherit;
    text-decoration: none;
    font-size: 2vw;
}

/* Response Page */

#response {
    height: 100vh;
}

#response-content-outer-wrapper {
    margin-top: 5%;
    position: absolute;
}

#left-content {
    padding-top: 11vw;
    padding-left: 15vw;
    padding-right: 0%;
}

#left-content * {
    width: fit-content;
}

/* Media Queries Generic code and comments from w3schools.com */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    /* code copied from https://codepen.io/alvarotrigo/pen/XWejzjR */
    .navbar input[type="checkbox"], .navbar .hamburger-lines {
        display: none;
        }
    /* end of copied code*/
}

/* Large devices (laptops, desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /* code copied from https://codepen.io/alvarotrigo/pen/XWejzjR */
    .navbar input[type="checkbox"], .navbar .hamburger-lines {
        display: none;
        }
    /* end of copied code*/
}