@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400&family=Mitr:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: EB Garamond, serif;
    font-weight: 400;
    color: #161B29;
}

html, body {
    height: 100%; /* allows for sizing of sections relative to viewport */
    width: 100%;
    position: relative; /* allows for positioning of sections relative to viewport */
}

h1, h2, h3, h4 {
    font-family:Mitr, sans-serif;
    font-weight: 500;
}

img {
    background-color: #BD9792;
}
 
h1 {
    font-size: 4em;
}

button, #submit {
    padding: 1em;
    margin-top: 10px;
    font-size: 1.5em;
    border-radius: 50%;
}

/* Header, Nav Elements and Logo */

.bar {
    width: 100vw;
    height:fit-content;
    background-color: #493A48;
    color: #BD9792;
}

#header{
    position: fixed;
    z-index: 2;
}

#header a {
    color:inherit;
    text-decoration: none;
}

#logo {
    float: left;
    font-size: 2em;
    margin-left: 1.5rem;
}

#menu {
    letter-spacing: 0.1rem;
    color: inherit;
}

#nav-elements {
    max-width: fit-content;
    line-height: 3rem;
    float: right;
    position: relative;
}

#menu li {
    list-style-type: none;
    margin-right: 3rem;
    font-family: Mitr, sans-serif;
    font-weight: 500;
    float: left;
}
#header a:hover, #menu li:hover, #social-networks a:hover {
    color:cornsilk;
}

/* colour for call to action elements */

.call-to-action {
    color: #BD9792;
    background-color: #6D5058; 
}

.call-to-action:hover {
    color: #6D5058;
    background-color: #BD9792;
}

/* Generic Section attributes */

.section-wrapper {
    z-index: 0;
    width: 100vw;
    height: 80vh;
    position:relative;
    padding-top: 3rem;
}

.section-content-outer-wrapper {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: space-between;
}

.section-content-left {
    width: 50%;
    display:flexbox;
    justify-content: left;
    padding:2% 10%;
}

.items-group {
    padding:20px;
}

.section-content-right {
    height:100%;
    width: 50%;
    display: flex;
    position: relative;
}

.section-content-right-figure {
    height: 100%;
    width: 100%;
    position: absolute;
}

.section-content-right-img {
    width: 100%;
    height:100%;
    object-fit: cover;
    border-radius: 40% 0 0 40%;
}

.section-wrapper > h1 {
    text-align: center;
    margin-top: 20px;
    letter-spacing: 4px;
}

/* Enjoy Fire Section */

#enjoy-fire-content-wrapper {
    margin-top: 5%;
}

#enjoy-fire-items-left, #enjoy-fire-items-right {
    width: 29%;
    padding-left: 10%;
    padding-top: 5%;
}

.enjoy-fire-items {
    padding-top: 5%;
    width:fit-content;
}
.enjoy-fire-items a {
    text-decoration: none;
    color: inherit;
    font-size: larger;
}

.enjoy-fire-items p {
    font-family:Mitr, sans-serif;
    font-weight: 500;
    font-size: 1em;
}

#enjoy-fire-items-left > div, #enjoy-fire-items-right > div {
    padding-top: 50px;
}

#enjoy-fire-items-left {
    float: left;
}

#enjoy-fire-items-right {
    float: right;
}

#hero-image-wrapper {
    width: 40%;
    height: 465px;
    position:inherit;
    overflow: hidden;
    border-radius: 20px;
}

#hero-img {
    width: 120%;
    height:120%;
    object-fit: cover;
    object-position: -80px -90px;
}

/* Light a Fire Section */

#lightfire {
    height: fit-content;
}

#lightfire-content-wrapper {
    display: inline-flexbox;
}

.lightfire-fig {
    width: 95%;
}

.lightfire-img {
    object-fit: fit;
    width:100%;
    border-radius: 0;
}

/* Lightfire-aside */

#lightfire-aside {
    width: 16.66%;
    height: 600px;
    margin-left: 30px;
    top: 20%;
    position: sticky;
    float:left;
}

#lightfire-aside h2 {
    text-align: left;
}

#lightfire-aside-inner {
    width: 100%;
}

#lightfire-aside-inner li {
    list-style: none;
    font-family:Mitr, sans-serif;
    font-weight: 500;
    font-size: 1em;
    padding: 1em 1em 0 0;
}

#lightfire-aside-inner a {
    text-decoration: none;
}

#aside-fire-img-fig  {
    margin-top: 20px;
}

/* lightfire-article */

#lightfire-article {
    width: 80%;
    height: fit-content;
    margin-left: 350px;
    margin-right: 20px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#lightfire-article > h2 {
    text-align: center;
    margin-top: 4em;
}

 #lightfire-article  p {
    padding:1em 0;
}

#lightfire-article section {
    padding: 1em 1em;
    border-bottom: #161B29 solid 2px;
}

/* Tools for fire Lighing Section */

.tools-wrapper-outer {
    position:relative;
    width: 100%;
    height: 30%;
    display: inline-flex;
    justify-content: center;
    margin-top: 2%;
}

.tools-wrapper-inner {
    position: relative;
    width: 25%;
    margin: 0 2%;
    justify-content: center;
    text-align: center;
}

figure.tools {
    width: 100%;
    text-align: center;
}

img.tools {
    width: 80%;
    object-fit: contain;
    border-radius: 20%;
    border:#161B29 solid 2px;
}

h2.tools {
    margin-top: 10px;
}

p.tools {
    margin-top:10px;
}

/* Responisble Fire Lighting Section */

#responsible-fire-lighting {

}

#responsible-img {
    object-position: 0 75%;
}

#memories {
    z-index: 1;
    margin-top: 10%;
    margin-left: 60%;
}

#memories h2 {
    color:#BD9792;
    padding: 1%;
    font-size: 1.5rem;
}

/* Stay In Touch Section */

#stay-in-touch {
    height: 90%;
}

#stayintouch-content-outer-wrapper {
    height: 75%;
}

/* Form */

#form  legend {
    font-family:Mitr, sans-serif;
    font-weight: 500;
    margin-top: 10px;
}

.input-background-colour:hover {
    background-color: #BD9792;
}

/* Footer */

#social-networks {
    display: flex;
    justify-content: center;
    justify-items: center;
}

#social-networks li {
    display: inline;
    padding: 0.5em 8em;
}

#social-networks a {
    color:inherit;
    text-decoration: none;
    font-size: 2em;
}

/* Response Page */

#response {
    height: 100%
}

#response-content-outer-wrapper {
    margin-top: 5%;
}

#footer-response {
position: absolute;
bottom: 0px;
}

#left-content {
    padding: 180px 0 0 300px;
}